<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SignalR" version="0.1.4178.22460" />
  <package id="jQuery" version="1.6.1" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="jquery.cookie" version="1.0" />
  <package id="ServerSync.Core" version="1.0.4197.35834" />
</packages>