<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net452" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="jQuery" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net46" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net46" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net46" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net46" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net452" />
</packages>