<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <!-- Settings used everywhere -->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Settings used only in IIS Kudu.Web -->

    <add key="serviceSitePath" value="..\Kudu.Services.Web" />
    <add key="sitesPath" value="..\apps" />

    <!--
    Uncomment the line(s) below to support custom default hostnames
    inplace of the localhost and random port usage.
    The value is the domain suffix you wish to have added to the
    Kudu application name - so a Kudu application called 
    "Test Site" will result in a url of "test-site.kudu.localtest.me".
    
    DNS settings must allow access to this url prior to site creation, otherwise
    an error will occur.  It is suggested that a wildcard entry is created in DNS
    for the value below.
    
    Note: localtest.me is an external service that always points to 127.0.0.1
    so the default value below can be used for local testing of the configuration.

    Other options allow for custom IIS bindings, the following formats are supported:
        kudu.localtest.me - only specify hostname suffix
        kudu.localtest.me:8080 - uses suffix and port 8080
        192.168.100.3:80:kudu.localtest.me - binds to internal ip, port 80, with hostname suffix
    
    Using these settings allows some flexibility in the way IIS bindings are created by default.
    Ie. when you are behind a firewall or proxy.
  
    <add key="urlBaseValue" value="kudu.localtest.me"/>
    <add key="serviceUrlBaseValue" value="scm.kudu.localtest.me"/>
    -->

    <!--
    Uncomment the line(s) below to support end user managed custom hostnames
    in addition to the default hostnames for both application and service sites.

    This is in addition to the above custom default hostname option, in that it
    allows you to add and manage additional hostnames for an application.
    
    <add key="enableCustomHostNames" value="true"/>
    -->

    <!-- Settings used only in Azure Kudu.Web -->


  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>