<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--
      The "Release" configuration is used to deploy Kudu to a server. In this case
      the service site and the user-created sites are two levels above the Kudu
      site, e.g. if the path to KuduWeb is C:\inetpub\wwwroot\KuduWeb then the
      service site is located at C:\inetpub\Kudu.Services.Web. This differs from
      "Debug" configuration, used when developing or testing from source control
      and each project directory is on the same level, so traversing up one level
      is sufficient.
    -->
    <add key="serviceSitePath"
      value="..\..\Kudu.Services.Web"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sitesPath"
      value="..\..\apps"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>