<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@Page.Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("PageHead", required: false)
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kudu</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Env">Environment</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Debug console <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/DebugConsole">CMD</a></li>
                            <li><a href="/DebugConsole/?shell=powershell">PowerShell</a></li>
                        </ul>
                    </li>
                    <li><a href="~/dump">Diagnostic dump</a></li>
                    <li><a href="~/logstream" title="If no log events are being generated the page may not load.">Log stream</a></li>
                    <li><a href="~/WebHooks">Web hooks</a></li>
                    <li><a href="~/SiteExtensions/">Site extensions</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
