<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="kudu.enableAuthentication" value="false" />
    <add key="kudu.enableTrace" value="true" />
    <add key="kudu.enableSettings" value="false" />
    <add key="kudu.blockLocalRequests" value="false" />
    <add key="nuget.cache" value="c:\NuGetCache" />
    <add key="git.username" value="kudu" />
    <add key="git.email" value="kudu" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="104857600" shutdownTimeout="6000" executionTimeout="6000" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <defaultProxy enabled="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>