<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SCM_GIT_USERNAME" value="kudu"/>
    <add key="SCM_GIT_EMAIL" value="kudu"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="true"/>
    <add key="webactivator:assembliesToScan" value="Kudu.Services.Web" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.6" maxRequestLength="4194304" shutdownTimeout="6000" executionTimeout="6000" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation targetFramework="4.6">
        <assemblies>
          <remove assembly="*" />
          <add assembly="WebActivatorEx"/>
          <add assembly="Kudu.Core"/>
          <add assembly="Kudu.Contracts"/>
          <add assembly="Kudu.Services"/>
          <add assembly="Kudu.Contracts"/>
          <add assembly="Kudu.Services.Web"/>
          <add assembly="System.Web.WebPages"/>
          <add assembly="System.Web.WebPages.Razor"/>
          <add assembly="Microsoft.Owin.Host.SystemWeb"/>
        </assemblies>
      </compilation>
      <httpModules>
        <add name="TraceModule" type="Kudu.Services.Web.Tracing.TraceModule"/>
      </httpModules>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule"/>
        <!--<add name="BlockLocalhostModule" type="Kudu.Services.Web.Security.BlockLocalhostModule"/>-->
      </modules>
      <staticContent>
        <remove fileExtension=".svg"/>
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="4294967295"/>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".asa"/>
          <remove fileExtension=".asax"/>
          <remove fileExtension=".ascx"/>
          <remove fileExtension=".master"/>
          <remove fileExtension=".skin"/>
          <remove fileExtension=".browser"/>
          <remove fileExtension=".sitemap"/>
          <remove fileExtension=".config"/>
          <remove fileExtension=".cs"/>
          <remove fileExtension=".csproj"/>
          <remove fileExtension=".vb"/>
          <remove fileExtension=".vbproj"/>
          <remove fileExtension=".fsproj"/>
          <remove fileExtension=".fs"/>
          <remove fileExtension=".fsx"/>
          <remove fileExtension=".webinfo"/>
          <remove fileExtension=".licx"/>
          <remove fileExtension=".resx"/>
          <remove fileExtension=".resources"/>
          <remove fileExtension=".mdb"/>
          <remove fileExtension=".vjsproj"/>
          <remove fileExtension=".java"/>
          <remove fileExtension=".jsl"/>
          <remove fileExtension=".ldb"/>
          <remove fileExtension=".dsdgm"/>
          <remove fileExtension=".ssdgm"/>
          <remove fileExtension=".lsad"/>
          <remove fileExtension=".ssmap"/>
          <remove fileExtension=".cd"/>
          <remove fileExtension=".dsprototype"/>
          <remove fileExtension=".lsaprototype"/>
          <remove fileExtension=".sdm"/>
          <remove fileExtension=".sdmDocument"/>
          <remove fileExtension=".mdf"/>
          <remove fileExtension=".ldf"/>
          <remove fileExtension=".ad"/>
          <remove fileExtension=".dd"/>
          <remove fileExtension=".ldd"/>
          <remove fileExtension=".sd"/>
          <remove fileExtension=".adprototype"/>
          <remove fileExtension=".lddprototype"/>
          <remove fileExtension=".exclude"/>
          <remove fileExtension=".refresh"/>
          <remove fileExtension=".compiled"/>
          <remove fileExtension=".msgx"/>
          <remove fileExtension=".vsdisco"/>
        </fileExtensions>
        <hiddenSegments>
          <remove segment="App_Data"/>
          <remove segment="App_GlobalResources"/>
          <remove segment="App_WebReferences"/>
          <remove segment="App_LocalResources"/>
          <remove segment="App_code"/>
          <remove segment="App_Browsers"/>
          <remove segment="web.config"/>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.net>
    <defaultProxy enabled="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>