@using Kudu.Core.SourceControl
@using Kudu.Web.Models

@model ApplicationViewModel
@{
    ViewBag.Title = "Deployments";
}

<form class="well form-inline">
  <label class="control-label"><strong>GIT URL</strong></label>
  <input type="input" id="clone-url" name="name" value="@Model.GitUrl" readonly="readonly" />
</form>

@if (Model.Deployments.Count == 0)
{
    <p class="alert alert-info">You haven't pushed anything to this repository yet.</p>
    return;
}


<table id="log">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Message
            </th>
            <th>
                Author
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Deployments)
        {
        }
    </tbody>
</table>
