@using Kudu.Core.SourceControl
@using Kudu.Web.Models
@using Kudu.Web.Infrastructure

@model IEnumerable<ApplicationViewModel>

@{
    ViewBag.Title = "Applications";
}

<h2>
    Applications | <a href="@Url.Action("create")"><img src="/content/glyphs/add---blue.png" height="24px" /></a>
</h2>

<table id="app-list">
    <tr>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { slug = item.Name.GenerateSlug() })">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
    </tr>
}
</table>
