@using Kudu.Core.SourceControl
@using Kudu.Web.Models
@using Kudu.Web.Infrastructure

@model IEnumerable<string>

@{
    ViewBag.Title = "Applications";
}

<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Applications</li>
        @foreach (var item in Model)
        {    
            <li>
                <a href="@Url.RouteUrl("ApplicationDetails", new { slug = item })">
                    <i class="icon-th-list"></i>
                    @item
                </a>
            </li>
        }
    </ul>    
</div>