[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
*.dgml
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
App_Data/
/apps
/artifacts
msbuild.log
_app/
*.ncrunchsolution
nuget.exe
Kudu.Services.Web/commit.txt
Setup/WebPiCmdSetup.log
Kudu.Services.Web/node_modules/