.tabManager {
    margin: 1% 0 0;
    padding: 0;
    height: 30px;
}

.tabManager .tab {
    cursor: default;
}

.tabManager a {
    outline: none;
    text-decoration: none;
}

.tabManager a.close {
    visibility: hidden;
    float: right;
}

.tabManager .tab span {
    float: left;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis;
}

.tabManager li {
    height: 20px;
    float: left;
    width: 100px;
    white-space: nowrap;
    list-style: none outside none;
    padding: 4px 8px;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.tabManager li .dirty {
    margin-left: 1px;
    display: none;
}

.tabManager li:hover a.close, .tabManager li.active a.close {
    visibility: visible;
}

.tabManager li.active, .tabManager li:hover {
    border: 1px solid #ccc;
    background: #f5f5ee;
    border-bottom: 1px solid #f5f5ee;
}

.tabManager li:hover {
    border-color: #d6d6d6;
    background: #fefefe;
}

.tabManager li.active:hover {
    border: 1px solid #ccc;
    background: #f5f5ee;
    border-bottom: 1px solid #fff;
}
