<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../FileSystem/fileSystem.js" type="text/javascript"></script>
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../Shared/icons.js" type="text/javascript"></script>
    <link href="tabManager.css" rel="stylesheet" type="text/css" />
    <script src="tabManager.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var fs = new FileSystem();
            var files = ['app.js', 'b.js', 'a/b.js', 'foo.txt', 'node_modules/express/foo.js', 'd/b/g.js'];

            fs.create(files.map(function (path) { return { Path: path }; }));


            $.get('templates.htm', function (content) {
                $('body').append(content);

                var templates = {
                    tab: $('#tabManager_tabTemplate')
                };

                var tm = $('#baz').tabManager({
                    templates: templates,
                    fileSystem: fs
                });

                var tm2 = $('#baz3').tabManager({
                    templates: templates,
                    fileSystem: fs
                });

                $.each(files, function () {
                    tm.add('/' + this);
                });
                tm.setActive('/app.js');

                tm2.add('/b.js');
                tm2.add('/node_modules/express/foo.js');
            });

        });
    </script>
</head>
<body>
    <ul id="baz" style="width:300px">
    </ul>
    <ul id="baz3">
    </ul>
</body>
</html>
