<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="diffViewer.css" rel="stylesheet" type="text/css" />
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="../Shared/icons.js" type="text/javascript"></script>
    <script src="../Shared/utils.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../FileSystem/fileSystem.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.hotkeys-patched.js" type="text/javascript"></script>
    <script src="diffViewer.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var templates = {
                diff: $('#diffViewer_files')
            };

            var diffViewer = $('#viewer').diffViewer({
                templates: templates
            });


            var diff = {
                Files: {
                    'app.js': {
                        Deletions: 0,
                        Insertions: 1,
                        Binary: false,
                        Status: 1,
                        DiffLines: [
                        {
                            Type: 1,
                            Text: "This line is added",
                            LeftLine: 1,
                            RightLine: null
                        },
                        {
                            Type: 2,
                            Text: "This line is removed",
                            LeftLine: null,
                            RightLine: 1
                        }]
                    },
                    'a/foo.js': {
                        Deletions: 0,
                        Insertions: 1,
                        Binary: true,
                        Status: 1,
                        DiffLines: []
                    }
                }
            };

            diffViewer.refresh(diff);

        });
    </script>
</head>
<body>
    <div id="viewer">
    </div>
    <script id="diffViewer_files" type="text/x-jquery-tmpl">
    {{each(fileName, file) Files}}
        <div class="file" data-path="${fileName}">
            <div class="header">                
                <span class="icon ${file.Binary ? "icon-binary" : "icon-default"}">${fileName}</span>
            </div>
            {{tmpl(file) "#diffViewer_file"}}
        </div>
    {{/each}}
    </script>
    <script id="diffViewer_file" type="text/x-jquery-tmpl">
    {{if Binary}}
    <div class="binary-text">Binary file not shown</div>
    {{else}}
    <div class="source">
        <table width="100%" cellpadding="0" cellspacing="0">
            {{each(i, line) DiffLines}}
                <tr>
                    <td class="line-number details">${line.LeftLine ? line.LeftLine : "&nbsp;"}</td>
                    <td class="line-number details">${line.RightLine ? line.RightLine : "&nbsp;"}</td>
                    <td class="line${$.utils.diffClass(line.Type)}">
                        <pre>${line.Text}</pre>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
    </script>
</body>
</html>
