<script id="diffViewer_files" type="text/x-jquery-tmpl">
{{each(fileName, file) Files}}
    <div class="file" data-path="${fileName}">
        <div class="header">
            {{if !readonly}}
            <input type="checkbox" class="include" checked="checked" />
            {{/if}}
            {{if !file.Binary}}
            <a href="#" class="toggle icon icon-expand-down">&nbsp</a>
            {{else}}
            <span class="icon icon-expand-down">&nbsp</span>
            {{/if}}
            <span class="icon ${$.utils.diffFileClass(file)}">${fileName}{{if file.Binary}}<span class="binary-text">(Binary file diff not shown)</span>{{/if}}</span>
        </div>
        {{tmpl(file) "#diffViewer_file"}}
    </div>
{{/each}}
</script>

<script id="diffViewer_file" type="text/x-jquery-tmpl">
{{if !Binary}}
<div class="source">
    <table width="100%" cellpadding="0" cellspacing="0">
        {{each(i, line) DiffLines}}
            <tr>
                <td class="line-number details">${line.LeftLine ? line.LeftLine : "&nbsp;"}</td>
                <td class="line-number details">${line.RightLine ? line.RightLine : "&nbsp;"}</td>
                <td class="line${$.utils.diffClass(line.Type)}">
                    <pre>${line.Text}</pre>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
{{/if}}
</script>