<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!-- Common definitions -->
  <?ifndef KuduProductVersion?>
  <?define KuduProductVersion = "0.0.0.0"?>
  <?endif?>
  <?ifndef KuduManufacturer?>
  <?define KuduManufacturer = "Outercurve Foundation"?>
  <?endif?>
  <?define ArtifactsDir = "..\artifacts\$(var.Configuration)"?>
  <?define KuduServiceDir = "$(var.ArtifactsDir)\KuduService"?>
  <?define KuduServiceBinDir = "$(var.KuduServiceDir)\bin"?>
  <?define KuduServiceMsBuildDir = "$(var.KuduServiceDir)\msbuild\Microsoft\VisualStudio\v10.0"?>

  <Product Id="82fa4608-ca6f-4d5e-9fa1-906987106ab9"
           Name="Kudu.Setup"
           Language="1033"
           Version="$(var.KuduProductVersion)"
           Manufacturer="$(var.KuduManufacturer)"
           UpgradeCode="20454678-7e74-4e0e-8ab0-2e8f9f7e3c5f">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="Kudu services" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Kudu Service was detected in the machine, this installation will abort." />

    <Media Id="1"
           Cabinet="KuduService.cab"
           CompressionLevel="high"
           EmbedCab="yes" />

    <!-- Prerequisite check -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework v4.0. Please install the .NET Framework v4.0 then run this installer again.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>

    <Condition Message="You need administrator privilege to install this application.">
      Privileged
    </Condition>

    <!-- Directory structure -->
    <SetDirectory Id="WINDOWSDRIVE" Value="[WindowsVolume]" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSDRIVE">
        <Directory Id="KUDU_BASE_DIR" Name="KuduService">
          <Directory Id="KUDU_WWWROOT" Name="wwwroot">

            <Directory Id="KUDU_SERVICE_BIN" Name="Bin" />

            <Directory Id="KUDU_SERVICE_MSBUILD" Name="msbuild">
              <Directory Id ="KUDU_SERVICE_MSBUILD_MS" Name="Microsoft">
                <Directory Id="KUDU_SERVICE_MSBUILD_MS_VS" Name="VisualStudio">
                  <Directory Id="KUDU_SERVICE_MSBUILD_MS_VS_10" Name="v10.0">

                    <Directory Id="KUDU_SERVICE_MSBUILD_MS_VS_10_WEB" Name="Web"/>
                    <Directory Id="KUDU_SERVICE_MSBUILD_MS_VS_10_WEBAPPS" Name="WebApplications"/>

                  </Directory>
                </Directory>
              </Directory>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Product files -->
    <DirectoryRef Id="KUDU_WWWROOT">

      <!-- Registry Key entry -->
      <Component Id="RegistryComponent" Guid="{3B4B2C90-2DDD-44E9-AC66-DFD45D0644C5}">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Kudu" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Version" Value="$(var.KuduProductVersion)" Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="Default.aspx" Guid="{DB6C3D9D-D0DD-42B6-A4C4-EA3D5F8428F4}">
        <File Id="Default.aspx" Source="$(var.KuduServiceDir)\Default.aspx" />
      </Component>

      <Component Id="Global.asax" Guid="{9120F0CD-A9BC-4B94-8D1C-2D591D1EF98A}">
        <File Id="Global.asax" Source="$(var.KuduServiceDir)\Global.asax" />
      </Component>

      <Component Id="Web.config" Guid="{457A4FB5-F65C-4431-AB8A-A87F960ADDCC}">
        <File Id="Web.config" Source="$(var.KuduServiceDir)\Web.config" />
      </Component>

      <Component Id="commit" Guid="{DCC5FEC1-0431-492E-9960-DC43A91D6002}">
        <File Id="commit" Source="$(var.KuduServiceDir)\commit" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="KUDU_SERVICE_BIN">

      <Component Id="Kudu.Contracts.dll" Guid="{61A18C06-83A8-41CA-AA38-F9F665DE10C3}">
        <File Id="Kudu.Contracts.dll" Source="$(var.KuduServiceBinDir)\Kudu.Contracts.dll" />
      </Component>
      <Component Id="Kudu.Core.dll" Guid="{B617864C-C336-46F9-B214-C583C4C8F30C}">
        <File Id="Kudu.Core.dll" Source="$(var.KuduServiceBinDir)\Kudu.Core.dll" />
      </Component>
      <Component Id="Kudu.Services.dll" Guid="{03D8B0B2-4FE2-4CCC-B54A-144430B05514}">
        <File Id="Kudu.Services.dll" Source="$(var.KuduServiceBinDir)\Kudu.Services.dll" />
      </Component>
      <Component Id="Kudu.Services.Web.dll" Guid="{4A3F4105-858A-4972-AE21-805C073F4CD9}">
        <File Id="Kudu.Services.Web.dll" Source="$(var.KuduServiceBinDir)\Kudu.Services.Web.dll" />
      </Component>

      <Component Id="Elmah.dll" Guid="{C13BE342-75FF-40CF-AFD3-669F8182CF83}">
        <File Id="Elmah.dll" Source="$(var.KuduServiceBinDir)\Elmah.dll" />
      </Component>

      <Component Id="Newtonsoft.Json.dll" Guid="{11210292-AF01-42CB-BAA6-6619CCA6E682}">
        <File Id="Newtonsoft.Json.dll" Source="$(var.KuduServiceBinDir)\Newtonsoft.Json.dll" />
      </Component>

      <Component Id="Ninject.dll" Guid="{1337933F-2537-4C76-8FEF-FBADD5816448}">
        <File Id="Ninject.dll" Source="$(var.KuduServiceBinDir)\Ninject.dll" />
      </Component>
      <Component Id="Ninject.Extensions.Wcf.dll" Guid="{40213169-2163-4F4F-B7E2-40C8E4C3DADC}">
        <File Id="Ninject.Extensions.Wcf.dll" Source="$(var.KuduServiceBinDir)\Ninject.Extensions.Wcf.dll" />
      </Component>

      <Component Id="SignalR.dll" Guid="{05B0AC56-6BD2-4F46-B80B-ADC05F4996FF}">
        <File Id="SignalR.dll" Source="$(var.KuduServiceBinDir)\SignalR.dll" />
      </Component>

      <Component Id="LibGit2Sharp.dll" Guid="{0496B795-B6E6-4394-934E-A1016AD594F3}">
        <File Id="LibGit2Sharp.dll" Source="$(var.KuduServiceBinDir)\LibGit2Sharp.dll" />
      </Component>

      <Component Id="Mercurial.Net.dll" Guid="{F2706686-C1DD-4168-996D-B27D02B636D8}">
        <File Id="Mercurial.Net.dll" Source="$(var.KuduServiceBinDir)\Mercurial.Net.dll" />
      </Component>
      
      <Component Id="git2.dll" Guid="{5DAFC5EE-CBD4-4664-9BE1-FD21B37D03BA}">
        <File Id="git2.dll" Source="$(var.KuduServiceBinDir)\git2.dll" />
      </Component>

      <Component Id="Microsoft.ApplicationServer.Http.dll" Guid="{64BD205C-7377-4BFE-BA9B-855824112E0F}">
        <File Id="Microsoft.ApplicationServer.Http.dll" Source="$(var.KuduServiceBinDir)\Microsoft.ApplicationServer.Http.dll" />
      </Component>
      <Component Id="Microsoft.Json.dll" Guid="{3E727695-40A8-4A1F-85A4-404791512915}">
        <File Id="Microsoft.Json.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Json.dll" />
      </Component>
      
      <Component Id="System.Net.Http.dll" Guid="{3D963AD3-1BA2-4508-AFAE-9635600B7D27}">
        <File Id="System.Net.Http.dll" Source="$(var.KuduServiceBinDir)\System.Net.Http.dll" />
      </Component>
      
      <Component Id="Microsoft.Net.Http.Formatting.dll" Guid="{C6C5008D-10AC-4B16-A8BC-7B720D671951}">
        <File Id="Microsoft.Net.Http.Formatting.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Net.Http.Formatting.dll" />
      </Component>
      <Component Id="Microsoft.Runtime.Serialization.Internal.dll" Guid="{4D860EFC-1EF4-4098-8C72-6F11AEBD3153}">
        <File Id="Microsoft.Runtime.Serialization.Internal.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Runtime.Serialization.Internal.dll" />
      </Component>
      <Component Id="Microsoft.ServiceModel.Internal.dll" Guid="{7E046CF4-5D62-40C2-A706-23DF903D4A9C}">
        <File Id="Microsoft.ServiceModel.Internal.dll" Source="$(var.KuduServiceBinDir)\Microsoft.ServiceModel.Internal.dll" />
      </Component>

      <Component Id="Microsoft.Server.Common.dll" Guid="{4F476863-1DE8-4699-9691-5A7BDEC0BE47}">
        <File Id="Microsoft.Server.Common.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Server.Common.dll" />
      </Component>
      <Component Id="Microsoft.Web.Infrastructure.dll" Guid="{96A2A444-20B6-48C6-867A-01A7E13AC927}">
        <File Id="Microsoft.Web.Infrastructure.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Web.Infrastructure.dll" />
      </Component>
      <Component Id="System.IO.Abstractions.dll" Guid="{235869F1-F053-4FEE-8CD5-04E197A916ED}">
        <File Id="System.IO.Abstractions.dll" Source="$(var.KuduServiceBinDir)\System.IO.Abstractions.dll" />
      </Component>
      <Component Id="WebActivator.dll" Guid="{0C6F4200-3B48-4BB0-97E7-17543B5AECB3}">
        <File Id="WebActivator.dll" Source="$(var.KuduServiceBinDir)\WebActivator.dll" />
      </Component>
      <Component Id="XmlSettings.dll" Guid="{A0569F8D-226B-4361-A596-7B636DBB3581}">
        <File Id="XmlSettings.dll" Source="$(var.KuduServiceBinDir)\XmlSettings.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="KUDU_SERVICE_MSBUILD_MS_VS_10_WEB">
      <Component Id="Microsoft.Web.Publishing.AllFilesInProjectFolder.targets" Guid="{0DE02D81-BAFE-4939-B903-D454B4D3603D}">
        <File Id="Microsoft.Web.Publishing.AllFilesInProjectFolder.targets" Source="$(var.KuduServiceMsBuildDir)\Web\Microsoft.Web.Publishing.AllFilesInProjectFolder.targets" />
      </Component>
      <Component Id="Microsoft.Web.Publishing.AllFilesInTheProject.targets" Guid="{9A35F0F7-6D04-4173-803E-040270478FB6}">
        <File Id="Microsoft.Web.Publishing.AllFilesInTheProject.targets" Source="$(var.KuduServiceMsBuildDir)\Web\Microsoft.Web.Publishing.AllFilesInTheProject.targets" />
      </Component>
      <Component Id="Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets" Guid="{BA70D756-5EF3-4B27-909A-8CB13E3F8413}">
        <File Id="Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets" Source="$(var.KuduServiceMsBuildDir)\Web\Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets" />
      </Component>
      <Component Id="Microsoft.Web.Publishing.targets" Guid="{4B06DD4C-5DF8-4B04-83D1-83CBBD16A818}">
        <File Id="Microsoft.Web.Publishing.targets" Source="$(var.KuduServiceMsBuildDir)\Web\Microsoft.Web.Publishing.targets" />
      </Component>
      <Component Id="Microsoft.Web.Publishing.Tasks.Dll" Guid="{CFE7A1D6-B7A9-4F97-8C2D-EB19C783E999}">
        <File Id="Microsoft.Web.Publishing.Tasks.Dll" Source="$(var.KuduServiceMsBuildDir)\Web\Microsoft.Web.Publishing.Tasks.Dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="KUDU_SERVICE_MSBUILD_MS_VS_10_WEBAPPS">
      <Component Id="Microsoft.WebApplication.Build.Tasks.Dll" Guid="{D9A90644-3F50-420E-9FC7-0EF987C2D29A}">
        <File Id="Microsoft.WebApplication.Build.Tasks.Dll" Source="$(var.KuduServiceMsBuildDir)\WebApplications\Microsoft.WebApplication.Build.Tasks.Dll" />
      </Component>
      <Component Id="Microsoft.WebApplication.targets" Guid="{555CAE90-180E-4345-AAAF-EF13C7DB4134}">
        <File Id="Microsoft.WebApplication.targets" Source="$(var.KuduServiceMsBuildDir)\WebApplications\Microsoft.WebApplication.targets" />
      </Component>
    </DirectoryRef>

    <Feature Id="RequiredComponents" Level="1">
      <ComponentRef Id="RegistryComponent" />

      <ComponentRef Id="Default.aspx" />
      <ComponentRef Id="Global.asax" />
      <ComponentRef Id="Web.config" />
      <ComponentRef Id="commit" />

      <ComponentRef Id="Kudu.Contracts.dll"/>
      <ComponentRef Id="Kudu.Core.dll"/>
      <ComponentRef Id="Kudu.Services.dll"/>
      <ComponentRef Id="Kudu.Services.Web.dll"/>

      <ComponentRef Id="Elmah.dll" />

      <ComponentRef Id="Newtonsoft.Json.dll" />

      <ComponentRef Id="Ninject.dll" />
      <ComponentRef Id="Ninject.Extensions.Wcf.dll" />

      <ComponentRef Id="SignalR.dll" />

      <ComponentRef Id="LibGit2Sharp.dll" />
      <ComponentRef Id="Mercurial.Net.dll" />
      
      <ComponentRef Id="git2.dll" />

      <ComponentRef Id="Microsoft.ApplicationServer.Http.dll" />
      <ComponentRef Id="Microsoft.Json.dll" />
      <ComponentRef Id="System.Net.Http.dll" />
      <ComponentRef Id="Microsoft.Net.Http.Formatting.dll" />
      <ComponentRef Id="Microsoft.Runtime.Serialization.Internal.dll" />
      <ComponentRef Id="Microsoft.ServiceModel.Internal.dll" />

      <ComponentRef Id="Microsoft.Server.Common.dll" />
      <ComponentRef Id="Microsoft.Web.Infrastructure.dll" />
      <ComponentRef Id="System.IO.Abstractions.dll" />
      <ComponentRef Id="WebActivator.dll" />
      <ComponentRef Id="XmlSettings.dll" />

      <ComponentRef Id="Microsoft.Web.Publishing.AllFilesInProjectFolder.targets" />
      <ComponentRef Id="Microsoft.Web.Publishing.AllFilesInTheProject.targets" />
      <ComponentRef Id="Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets" />
      <ComponentRef Id="Microsoft.Web.Publishing.targets" />
      <ComponentRef Id="Microsoft.Web.Publishing.Tasks.Dll" />

      <ComponentRef Id="Microsoft.WebApplication.Build.Tasks.Dll" />
      <ComponentRef Id="Microsoft.WebApplication.targets" />
    </Feature>

  </Product>
</Wix>