<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!-- Common definitions -->
  <?ifndef KuduProductVersion?>
  <?define KuduProductVersion = "0.6.0.0"?>
  <?endif?>
  <?ifndef KuduManufacturer?>
  <?define KuduManufacturer = "Outercurve Foundation"?>
  <?endif?>
  <?define KuduServiceBinScriptsDir = "$(var.KuduServiceBinDir)\scripts"?>
  <?define KuduServiceTargetsRootDir = "$(var.KuduServiceDir)\msbuild\Microsoft\VisualStudio" ?>
  <?define KuduServiceMsBuildDir = "$(var.KuduServiceTargetsRootDir)\v10.0"?>
  <?define KuduServiceMsBuildDir11 = "$(var.KuduServiceDir)\msbuild\Microsoft\VisualStudio\v11.0"?>
  
  <Product Id="*"
           Name="Kudu.Setup"
           Language="1033"
           Version="$(var.KuduProductVersion)"
           Manufacturer="$(var.KuduManufacturer)"
           UpgradeCode="20454678-7e74-4e0e-8ab0-2e8f9f7e3c5f">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="Kudu services" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Kudu Service was detected in the machine, this installation will abort." Schedule="afterInstallInitialize" />

    <Media Id="1"
           Cabinet="KuduService.cab"
           CompressionLevel="high"
           EmbedCab="yes" />

    <!-- Prerequisite check -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework v4.0. Please install the .NET Framework v4.0 then run this installer again.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>

    <Condition Message="You need administrator privilege to install this application.">
      Privileged
    </Condition>

    <!-- Directory structure -->
    <SetDirectory Id="WINDOWSDRIVE" Value="[WindowsVolume]" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSDRIVE">
        <Directory Id="KUDU_BASE_DIR" Name="KuduService">
          <Directory Id="KUDU_WWWROOT" Name="wwwroot">
            <Directory Id="KUDU_SERVICE_BIN" Name="Bin">
              <Directory Id="KUDU_SERVICE_BIN_SCRIPTS" Name="Scripts" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Product files -->
    <DirectoryRef Id="KUDU_WWWROOT">

      <!-- Registry Key entry -->
      <Component Id="RegistryComponent" Guid="{3B4B2C90-2DDD-44E9-AC66-DFD45D0644C5}">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Kudu" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Version" Value="$(var.KuduProductVersion)" Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="Default.aspx" Guid="{DB6C3D9D-D0DD-42B6-A4C4-EA3D5F8428F4}">
        <File Id="Default.aspx" Source="$(var.KuduServiceDir)\Default.aspx" />
      </Component>
      
      <Component Id="Env.aspx" Guid="{352C64CB-76C2-49F1-B7BF-786EECA9CD4C}">
        <File Id="Env.aspx" Source="$(var.KuduServiceDir)\Env.aspx" />
      </Component>

      <Component Id="Web.config" Guid="{457A4FB5-F65C-4431-AB8A-A87F960ADDCC}">
        <File Id="Web.config" Source="$(var.KuduServiceDir)\Web.config" />
      </Component>

      <Component Id="commit" Guid="{DCC5FEC1-0431-492E-9960-DC43A91D6002}">
        <File Id="commit" Source="$(var.KuduServiceDir)\commit" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="KUDU_SERVICE_BIN_SCRIPTS">

      <Component Id="selectNodeVersion.js" Guid="{A614DB70-81C5-43C0-BC74-3776408987D4}">
        <File Id="selectNodeVersion.js" Source="$(var.KuduServiceBinScriptsDir)\selectNodeVersion.js" />
      </Component>

      <Component Id="semver.js" Guid="{B54E4DAF-E614-4C3A-9583-97327362D1CB}">
        <File Id="semver.js" Source="$(var.KuduServiceBinScriptsDir)\semver.js" />
      </Component>

      <Component Id="starter.cmd" Guid="{4614DB70-81C5-43B0-BC84-37364089A7D5}">
        <File Id="starter.cmd" Source="$(var.KuduServiceBinScriptsDir)\starter.cmd" />
      </Component>

      <Component Id="kudusync.cmd" Guid="{5614DB70-81C5-42B0-BC84-37164ABBD7D6}">
        <File Id="kudusync.cmd" Source="$(var.KuduServiceBinScriptsDir)\kudusync.cmd" />
      </Component>

      <Component Id="KuduSync.NET.exe" Guid="{76245B70-81C5-82B0-BC84-37164ABBD7D6}">
        <File Id="KuduSync.NET.exe" Source="$(var.KuduServiceBinScriptsDir)\KuduSync.NET.exe" />
      </Component>

      <Component Id="CommandLine.dll" Guid="{16C4DB70-81C5-42B0-B884-37164ABAD7D6}">
        <File Id="CommandLine.dll" Source="$(var.KuduServiceBinScriptsDir)\CommandLine.dll" />
      </Component>

      <Component Id="KuduSync.System.IO.Abstractions.dll" Guid="{9614DD70-8115-42B0-BC84-37164AABD7D4}">
        <File Id="KuduSync.System.IO.Abstractions.dll" Source="$(var.KuduServiceBinScriptsDir)\System.IO.Abstractions.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="KUDU_SERVICE_BIN">

      <Component Id="Kudu.Contracts.dll" Guid="{61A18C06-83A8-41CA-AA38-F9F665DE10C3}">
        <File Id="Kudu.Contracts.dll" Source="$(var.KuduServiceBinDir)\Kudu.Contracts.dll" />
      </Component>
      
      <Component Id="kudu.exe" Guid="{760F98D3-D22B-48BA-8C57-26FADBFBC845}">
        <File Id="kudu.exe" Source="$(var.KuduServiceBinDir)\kudu.exe" />
      </Component>
      
      <Component Id="Kudu.Core.dll" Guid="{B617864C-C336-46F9-B214-C583C4C8F30C}">
        <File Id="Kudu.Core.dll" Source="$(var.KuduServiceBinDir)\Kudu.Core.dll" />
      </Component>
      <Component Id="Kudu.Services.dll" Guid="{03D8B0B2-4FE2-4CCC-B54A-144430B05514}">
        <File Id="Kudu.Services.dll" Source="$(var.KuduServiceBinDir)\Kudu.Services.dll" />
      </Component>
      <Component Id="Kudu.Services.xml" Guid="{DE48C752-BC81-46DB-8F82-A474F333A6C3}">
        <File Id="Kudu.Services.xml" Source="$(var.KuduServiceBinDir)\Kudu.Services.xml" />
      </Component>
      <Component Id="Kudu.Services.Web.dll" Guid="{4A3F4105-858A-4972-AE21-805C073F4CD9}">
        <File Id="Kudu.Services.Web.dll" Source="$(var.KuduServiceBinDir)\Kudu.Services.Web.dll" />
      </Component>
      
      <Component Id="Ionic.Zip.dll" Guid="{7BB6559B-39A6-4D67-A325-5DD73BECCCC7}">
        <File Id="Ionic.Zip.dll" Source="$(var.KuduServiceBinDir)\Ionic.Zip.dll" />
      </Component>

      <Component Id="Ninject.dll" Guid="{1337933F-2537-4C76-8FEF-FBADD5816448}">
        <File Id="Ninject.dll" Source="$(var.KuduServiceBinDir)\Ninject.dll" />
      </Component>
      
      <Component Id="Newtonsoft.Json.dll" Guid="{A60AA633-1F5F-4FE1-A93B-B891D63232A2}">
        <File Id="Newtonsoft.Json.dll" Source="$(var.KuduServiceBinDir)\Newtonsoft.Json.dll" />
      </Component>
      
      <Component Id="Microsoft.Web.Infrastructure.dll" Guid="{96A2A444-20B6-48C6-867A-01A7E13AC927}">
        <File Id="Microsoft.Web.Infrastructure.dll" Source="$(var.KuduServiceBinDir)\Microsoft.Web.Infrastructure.dll" />
      </Component>
      
      <Component Id="System.IO.Abstractions.dll" Guid="{235869F1-F053-4FEE-8CD5-04E197A916ED}">
        <File Id="System.IO.Abstractions.dll" Source="$(var.KuduServiceBinDir)\System.IO.Abstractions.dll" />
      </Component>
      <Component Id="WebActivator.dll" Guid="{0C6F4200-3B48-4BB0-97E7-17543B5AECB3}">
        <File Id="WebActivator.dll" Source="$(var.KuduServiceBinDir)\WebActivator.dll" />
      </Component>
      
      <Component Id="XmlSettings.dll" Guid="{A0569F8D-226B-4361-A596-7B636DBB3581}">
        <File Id="XmlSettings.dll" Source="$(var.KuduServiceBinDir)\XmlSettings.dll" />
      </Component>
      
      <Component Id="System.Net.Http.Formatting.dll" Guid="{018623FB-6032-49BE-9AC1-08E4398FD98F}">
        <File Id="System.Net.Http.Formatting.dll" Source="$(var.KuduServiceBinDir)\System.Net.Http.Formatting.dll" />
      </Component>

      <Component Id="System.Web.Http.dll" Guid="{8C405A12-9961-4167-BC11-70986B31A444}">
        <File Id="System.Web.Http.dll" Source="$(var.KuduServiceBinDir)\System.Web.Http.dll" />
      </Component>

      <Component Id="System.Web.Http.WebHost.dll" Guid="{1F9F48D0-39F9-48EB-B878-420E501D020F}">
        <File Id="System.Web.Http.WebHost.dll" Source="$(var.KuduServiceBinDir)\System.Web.Http.WebHost.dll" />
      </Component>
    </DirectoryRef>

    <Feature Id="RequiredComponents" Level="1">
      <ComponentRef Id="RegistryComponent" />

      <ComponentRef Id="Default.aspx" />
      <ComponentRef Id="Env.aspx" />
      <ComponentRef Id="Web.config" />
      <ComponentRef Id="commit" />

      <ComponentRef Id="kudu.exe"/>
      <ComponentRef Id="Kudu.Contracts.dll"/>
      <ComponentRef Id="Kudu.Core.dll"/>
      <ComponentRef Id="Kudu.Services.dll"/>
      <ComponentRef Id="Kudu.Services.xml"/>
      <ComponentRef Id="Kudu.Services.Web.dll"/>
      <ComponentRef Id="selectNodeVersion.js"/>
      <ComponentRef Id="semver.js"/>
      <ComponentRef Id="starter.cmd"/>
      <ComponentRef Id="kudusync.cmd"/>
      <ComponentRef Id="KuduSync.NET.exe"/>
      <ComponentRef Id="CommandLine.dll"/>
      <ComponentRef Id="KuduSync.System.IO.Abstractions.dll"/>

      <ComponentRef Id="Ninject.dll" />

      <ComponentRef Id="Ionic.Zip.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />

      <ComponentRef Id="Microsoft.Web.Infrastructure.dll" />
      <ComponentRef Id="System.IO.Abstractions.dll" />
      <ComponentRef Id="WebActivator.dll" />
      <ComponentRef Id="XmlSettings.dll" />
      
      <ComponentRef Id="System.Net.Http.Formatting.dll" />
      <ComponentRef Id="System.Web.Http.dll" />
      <ComponentRef Id="System.Web.Http.WebHost.dll" />

      <ComponentGroupRef Id="NodeModules" />
    </Feature>

  </Product>
</Wix>