<ul class="nav">
  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Tools
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Analyze Trace", "trace", "analysis")</li>
    </ul>
  </li>
</ul>