<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Uncomment out this line to reuse the same site for all functional tests, which runs much faster -->
        <add key="SiteReusedForAllTests" value="TestRunnerSite" />
        <!-- Set this to true to run the tests against Linux Kudu instead of Windows Kudu -->
        <add key="RunningAgainstLinuxKudu" value="false" />
        <!-- Kudu URL to use for running the tests. This URL needs to have a trailing slash, example: http://localhost:8181/ -->
        <add key="CustomKuduUrl" value="" />
        <!-- Update to change the maximum number of sites created on failure in reuse site mode -->
        <add key="MaxSiteNameIndex" value="1" />
        <!-- whether to retry on failure -->
        <add key="DisableRetry" value="true" />
        <!-- By default we use App Pool Identity, but it has caused strange errors that are not well understood -->
        <add key="UseNetworkServiceIdentity" value="true" />
    </appSettings>
    <system.net>
        <connectionManagement>
          <clear />
          <add address="*" maxconnection="10" />
        </connectionManagement>
    </system.net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="5.1.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
