<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="HttpClient" version="0.6.0" />
  <package id="JsonValue" version="0.6.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="WebActivator" version="1.5" />
  <package id="WebApi" version="0.6.0" />
  <package id="XmlSettings" version="0.1.1" />
</packages>