<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20521.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20521.0" />
  <package id="Microsoft.Net.Http" version="2.0.20521.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.5" />
  <package id="WebActivator" version="1.5" />
  <package id="XmlSettings" version="0.1.1" />
</packages>