<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.OData" version="0.1.0-alpha-121012" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.0.2" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.0.1" targetFramework="net40" />
  <package id="Microsoft.Data.OData.Contrib" version="5.0.1.50822" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.23" />
  <package id="System.Spatial" version="5.0.2" targetFramework="net40" />
  <package id="WebActivator" version="1.5" />
  <package id="XmlSettings" version="0.1.2.0" targetFramework="net40" />
</packages>