@using Kudu.Core.SourceControl

@model RepositoryType

<div id="action-links">
<a href="../../Hubs/Editor/index.htm">View/Edit Files</a> <br />
@if (Model != RepositoryType.None) {
<a href="../../Hubs/SourceControl/index.htm">View Repository</a>
}
else { 
    <h3>You don't have source control configured</h3>
    <form action="@Url.Action("create")" method="post">
        @Html.DropDownList("type")
        <input type="submit" value="Create" />
    </form>
}
</div>