<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="commandBar.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <link href="../../Styles/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../Console/console.js" type="text/javascript"></script>
    <link href="../Console/console.css" rel="stylesheet" type="text/css" />
    <script src="../Shared/utils.js" type="text/javascript"></script>
    <script src="../Shared/icons.js" type="text/javascript"></script>
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.hotkeys-patched.js" type="text/javascript"></script>
    <script src="commandbar.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var $c1 = $('<div/>');
            var $c2 = $('<div/>');
            var c1 = $c1.console();
            c1.log('Regular Console');
            var c2 = $c2.console();
            c2.log('Js console');
            var commandBar = $.commandBar({
                sections: {
                    'Console': $c1,
                    'Javascript Console': $c2
                }
            });
        });
    </script>
</head>
<body>
</body>
</html>
