.icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    line-height: 20px;
}

.icon-notext {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 10px;
    line-height: 20px;
}

.icon-collapse-up {
    background-image: url('../../images/bullet_arrow_up.png');
}

.icon-expand-down {
    background-image: url('../../images/bullet_arrow_down.png');
}

.icon-expand-bar {
    background-image: url('../../images/expand.png');
}

.icon-collapse-bar {
    background-image: url('../../images/collapse.png');
}

.icon-cs {
    background-image: url('../../images/cs.png');
}

.icon-cshtml {
    background-image: url('../../images/cshtml.png');
}

.icon-aspx {
    background-image: url('../../images/aspx.png');
}

.icon-ascx {
    background-image: url('../../images/ascx.png');
}

.icon-config {
    background-image: url('../../images/config.png');
}

.icon-tt {
    background-image: url('../../images/tt.png');
}

.icon-css {
    background-image: url('../../images/css.png');
}

.icon-js {
    background-image: url('../../images/js.png');
}

.icon-dll {
    background-image: url('../../images/dll.png');
}

.icon-php {
    background-image: url('../../images/php.png');
}

.icon-master {
    background-image: url('../../images/master.png');
}

.icon-default {
    background-image: url('../../images/page_white.png');
}

.icon-binary {
    background-image: url('../../images/page_white_gear.png');
}

.icon-loading {
    background-image: url('../../images/loading.gif');
}

.icon-prompt-loading {
    background-image: url('../../images/prompt-loading.gif');
}

.icon-save {
    background-image: url('../../images/saveall.png');
}

.icon-close {
    background-image: url('../../images/close.png');
}

.icon-refresh {
    background-image: url('../../images/refresh.png');
}

.icon-build {
    background-image: url('../../images/build.png');
}

.icon-menu {
    background-image: url('../../images/application_side_list.png');
}

.icon-file-added {
    background-image: url('../../images/page_white_add.png');
}

.icon-file-deleted {
    background-image: url('../../images/page_white_delete.png');
}

.icon-file-modified {
    background-image: url('../../images/page_white_edit.png');
}

.icon-live {
    background-image: url('../../images/world_go.png');
}

.icon-run {
    background-image: url('../../images/run.png');
}