span.cm-xml-tag {color: rgb(163,21,21);}
span.cm-xml-attribute {color: rgb(0,0,255);}
span.cm-xml-attname {color: rgb(255,0,0);}
span.cm-xml-comment {color: rgb(0,128,0);}
span.cm-xml-cdata {color: #777;}
span.cm-xml-processing {color: #777;}
span.cm-xml-entity {color: #a22;}
span.cm-razor {background-color: rgb(236, 242, 245)}
span.cm-razor-tag {background-color: yellow;}
span.cm-razor-keyword {color: blue; background-color: rgb(236, 242, 245)}
span.cm-razor-string {color: rgb(163,21,21); background-color: rgb(236, 242, 245)}
