@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Diagnostic Console";
}

@section PageHead {
    <link href="~/Scale/style.css" type="text/css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet" />
}

<div id="root" class="container"></div>
<script src="~/Scale/bundle.js"></script>