<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpClient" version="0.3.0" />
  <package id="LibGit2Sharp" version="0.4" />
  <package id="Mercurial.Net" version="1.1.1.607" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="SignalR.Client" version="0.3.1" />
  <package id="XmlSettings" version="0.1" />
</packages>