<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" />
  <package id="Mercurial.Net" version="1.1.1.607" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.0.26" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.0.26" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.0.26" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="ncrontab" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NuGet.Configuration" version="1.0.0-pre-20150220022717" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-pre-20150220044603" targetFramework="net45" />
  <package id="NuGet.Protocol.Types" version="3.0.0-pre-20150220053306" targetFramework="net45" />
  <package id="NuGet.Protocol.V2V3" version="3.0.0-pre-20150220053309" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.7" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.74" targetFramework="net45" />
  <package id="XmlSettings" version="0.1.3" targetFramework="net45" />
</packages>