body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

#edit-area {
    height: 100%;
    width: 70%;
    float: left;
    border: 1px solid #ccc;
}

#files {
    float: left;
    margin-left: 10px;
    height: 100%;
    border: 1px solid #ccc;
    width: 25%;
    overflow: auto;
}

#ide {
    height: 500px;
}

#tabs {
    width: 70%;
}

#actions {
    display: inline;
    margin-bottom: 20px;
    padding-left: 5px;
}

#actions li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

#actions li a {
    text-decoration: none;
    outline: none;
}

#active-view {
    display: none;
    display: inline;
    float: right;
    font-family: Trebuchet MS;
    font-size: 13px;
    margin-right: 4%;
}

#status-container {
    margin-top: 7px;
    height: 30px;
}

.dev-mode {
    display: none;
}

.CodeMirror {
    font: 10pt Consolas;
}

.commandWindow {
    font: 11pt Consolas;
}

.working {
    margin-top: 10px;
}