<!DOCTYPE htm>
<html>
<head>
    <title>Kudu</title>
    <link href="SourceControl.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../../Scripts/sammy.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.timeago.js" type="text/javascript"></script>
    <script src="../../Scripts/SignalR.min.js" type="text/javascript"></script>
    <script src="../../signalr/hubs" type="text/javascript"></script>
    <script src="loader.js" type="text/javascript"></script>
    <script src="SourceControl.js" type="text/javascript"></script>
    <script id="changeset" type="text/x-jquery-tmpl"> 
        <tr class="changeset" id="${Id}">
            <td>${ShortId}</td>
            <td>
                {{each(i, branch) getBranches($data.Id)}}
                <a href="#" class="branch update" data-id="${Id}" data-branch="${branch}">${branch}</a>
                {{/each}}
                <div class="description">
                    {{html Summary}}
                </div>
            </td>
            <td>${AuthorName}</td>
            <td class="timeago" title="${Date}"></td>
            <td class="actions">                
                <a href="#" class="update" data-id="${Id}">update</a>
                <a href="#/commit/${Id}" class="view">view</a>
            </td>
            <td>
                <img class="loading hide" src="images/loading.gif" />
                <img class="status${Active ? "" : " hide"}" src="images/tick.png" />
            </td>
        </tr>
    </script>
    <script id="changeset-detail" type="text/x-jquery-tmpl">
        <div class="commit-detail gray-gradient">
            <p class="details">${ChangeSet.Id}</p>
            <p>{{html ChangeSet.Message}}<p>
            {{if ChangeSet.EmailHash}}
            <img src="http://www.gravatar.com/avatar/${ChangeSet.EmailHash}?s=32&d=mm" class="gravatar" />
            {{/if}}
            <div class="author">
                ${ChangeSet.AuthorName} <span class="details">(author)</span>
                <div class="timeago" title="${ChangeSet.Date}"></div>
            </div>
            <div class="clear" />
        </div>
        {{tmpl "#diff-view"}}
    </script>
    <script id="diff-view" type="text/x-jquery-tmpl">
        <div class="commit-summary">
            Showing ${FilesChanged} changed files with ${Insertions} additions and ${Deletions} deletions.
        </div>
        <ul class="commit-file-summary">
            {{each(fileName, file) Files}}
                <li class="icon ${getFileClass(file)}"><a href="#">${fileName}</a> {{if file.Binary}}<span class="details">(binary)</span>{{/if}}</li>
            {{/each}}
        </ul>
        {{each(fileName, file) Files}}
            <div id="${getDiffId(fileName)}" class="diff">
                <div class="diff-header gray-gradient">
                    <span class="icon ${file.Binary ? "icon-binary-file" : "icon-file"}">${fileName}</span>
                </div>
                {{tmpl(file) "#file-view"}}
            </div>
        {{/each}}
    </script>
    <script id="file-view" type="text/x-jquery-tmpl">
        {{if Binary}}
        <div class="binary-text">Binary file not shown</div>
        {{else}}
        <div class="diff-source">
            <table width="100%" cellpadding="0" cellspacing="0">
                {{each(i, line) DiffLines}}
                    <tr>
                        <td class="line-number details">${line.LeftLine ? line.LeftLine : "&nbsp;"}</td>
                        <td class="line-number details">${line.RightLine ? line.RightLine : "&nbsp;"}</td>
                        <td class="line${getDiffClass(line.Type)}">
                            <pre>${line.Text}</pre>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}
    </script>
</head>
<body>
    <div id="page">
        <div id="new-commit">
        </div>
        <div id="error">
        </div>
        <div id="menu" class="gray-gradient">
            <span id="repository-type"><img src="images/loading.gif" /> </span>
            <div id="links">
                <a href="#/">Commits</a>
                <a href="#/working" class="icon icon-working-dir" id="show-working">Working directory</a>
            </div>
            <div id="clone-url">
                <label for="url">HTTP: </label>
                <input type="text" name="url" id="url" value="" readonly="readonly" disabled="disabled" />
            </div>
            <div class="clear"></div>
        </div>
        <div id="status-container">
            <div id="status">
            </div>
        </div> 
        
        <table id="log">
            <thead>
                <tr>
                    <th>Change Set</th>
                    <th>Comment</th>
                    <th>User</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="changes">
            </tbody>
        </table>
        <div id="infinite-status">
        </div>
        
        <div id="show">
        </div>

        <div id="working">
            <div id="commit-area">
                <form action="#/commit" method="post">
                    <label for="message">Enter commit message:</label>
                    <textarea id="commit-message" name="message"></textarea>
                    <input type="submit" id="commit" name="commit" value="Commit changes" />
                </form>
            </div>
            <div id="diff">
            </div>
        </div>

        <div id="footer" />
    </div>
</body>
</html>
