#scm #page {
    margin: 0 auto;
    padding: 0 15px;
    width: 1020px;
}

#scm #menu #clone-url input {
    font-size: 12px; 
    width: 330px;
}

#scm #menu #clone-url {
    float: right;
    margin-right: 50px;
}

#scm #log {
    font-family: Trebuchet MS;
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1%;
}

#scm #log td {
    height: 65px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ebebeb'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ebebeb)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f5f5f5,  #ebebeb); /* for firefox 3.6+ */
}

#scm #log th {
    padding: 5px;
    text-align: left;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
}

#scm #log th:nth-child(1) {
    width: 90px;
}

#scm #log th:nth-child(3) {
    width: 10%;
}

#scm #log th:nth-child(4) {
    width: 10%;
}

#scm #log th:nth-child(5) {
    width: 10%;
}

#scm #log th:nth-child(6) {
    width: 20px;
}

#scm #log .hide {
    display: none;
}

#scm #menu {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;    
    font-size: 14px;
}

#scm #menu #links {
    float: left;
    width: 50%;
    margin-top: 3px;
}

#scm #menu form {
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
}

#scm #menu a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

#scm #menu a:hover {
    margin-right: 10px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    font-weight: bold;
    text-decoration: none;
}

#scm #menu input[type="text"] {
    font-family: Trebuchet MS;
    font-size: 13px;
    width: 300px;
}

#scm .icon-loading {
    background-image: url('images/loading.gif');
}

#scm .icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    line-height: 20px;
}

#scm .icon-notext {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 10px;
    line-height: 20px;
}

#scm .icon-close {
    background-image: url('../../../images/close.png');
}

#scm .icon-binary-file {
    background-image: url('images/page_white_gear.png');
}

#scm .icon-file {
    background-image: url('images/page_white.png');
}

#scm .icon-file-added {
    background-image: url('images/page_white_add.png');
}

#scm .icon-file-deleted {
    background-image: url('images/page_white_delete.png');
}

#scm .icon-file-modified {
    background-image: url('images/page_white_edit.png');
}

#scm .icon-working-dir {
    background-image: url('images/folder_table.png');
}

#scm #status {
    display: none;
}

#scm #status-container {
    height: 30px;
}

#scm #log .actions a {
    margin-left: 5px;
}

#scm .commit-detail {
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
}

#scm .commit-detail p {
    margin-top: 0;
}

#scm .commit-summary {
    margin-bottom: 1%;
    border-bottom: 1px solid #ccc;
}

#scm .commit-file-summary {
    padding: 0;
    margin: 0 0 1% 0;
}

#scm .commit-file-summary li {
    margin-bottom: 5px;
    list-style-type: none;
}

#scm .commit-file-summary li a {
    text-decoration: none;
    color: #4183C4;
}

#scm .diff {
    margin-bottom: 3%;
    border: 1px solid #ccc;
}

#scm .diff-header {
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#scm .diff-add {
    background-color: #DDFFDD;
}

#scm .diff-remove {
    background-color: #FFDDDD;
}

#scm .diff pre {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Consolas, Lucida Grande;
}

#scm .diff-source {
    overflow: auto;
}

#scm .actions a {
    color: Blue;
}

#scm .actions a:visited {
    color: Blue;
}

#scm #working {
    display: none;
}

#scm form {
    display: inline;
}

#scm #commit-message {
    width: 60%;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    font-family: Trebuchet MS;
    font-size: 13px;
}

#scm #commit-area {
    margin-bottom: 1%;
}

#scm .details {
    color: #aaa;
}

#scm #new-commit {
    display: none;
    background-color: #e6efc2;
    border: 1px solid #c6d880;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 10px;
}

#scm #error {
    display: none;
    background-color: #FFEBE8;
    border: 1px solid #DD3C10;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 10px;
}

#scm .gray-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ebebeb'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ebebeb)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f5f5f5,  #ebebeb); /* for firefox 3.6+ */
}

#scm .clear {
    clear: both;
}

#scm .gravatar {
    border: 1px solid #ccc;
    padding: 2px;
    float: left;
}

#scm .author {
    float: left;
    margin-left: 5px;
}

#scm .binary-text {
    padding: 5px;
}

#scm .line {
    width: 100%;
    padding: 0;
    border: none;
}

#scm .branch {
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 4px;
    text-decoration: none;
    background: #3700ff;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#3700ff', endColorstr='#0015ff');
    background: -webkit-gradient(linear, left top, left bottom, from(#3700ff), to(#0015ff));
    background: -moz-linear-gradient(top,  #3700ff,  #0015ff);
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
    margin-bottom: 1%;
}

#scm #infinite-status {
    margin: 0 auto;
    width: 200px;
}

#scm #footer {
    margin-top: 100px;
}

#scm .line-number {
    font-family: Consolas;
    font-size: 12px;
    padding: 0 0.5em;
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
}

#scm #repository-type {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    font-weight: bold;
}

#scm #working .revert {
    visibility: visible;
}

#scm #show .revert {
    visibility: hidden;
}