<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="console.css" rel="stylesheet" type="text/css" />
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #console {
            height: 250px;
            font: 11pt Consolas;
        }
        
        #console2 {
            margin-top: 20px;
            height: 450px;
            font: 14px Lucida Console;
        }
    </style>
    <script src="../../Scripts/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../Shared/utils.js" type="text/javascript"></script>
    <script src="../Shared/icons.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.hotkeys-patched.js" type="text/javascript"></script>
    <script src="console.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var console = $('#console').console();

            var jsConsole = $('#console2').console();

            $(jsConsole).bind('console.runCommand', function (e, command) {
                try {
                    var result = eval(command);
                    jsConsole.log(result ? result : 'undefined');
                }
                catch (ex) {
                    jsConsole.log(ex);
                }
                finally {
                    jsConsole.completeCommand();
                }
            });

            $(console).bind('console.runCommand', function (e, command) {
                if (command == "cls") {
                    console.clear();
                    console.completeCommand();
                }
                else {
                    console.log('Running fake command "' + command + '"');
                    var processing = setInterval(function () {
                        console.log('Processing...');
                    }, 200);

                    setTimeout(function () {
                        console.log('Done');
                        clearInterval(processing);
                        console.completeCommand();
                    }, 1000);
                }
            });
        });
    </script>
</head>
<body>
    <div id="console">
    </div>
    <div id="console2">
    </div>
</body>
</html>
