.console {
    display: block;
    color: #c0c0c0;
    border: 1px solid #666;
    padding: 5px 15px 5px 25px;
    background: #202020 3px 5px no-repeat;
    line-height: 1.462em; /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.console .container .new-command {
    border: 0;
    outline:none;
    background-color: #202020;
    color: #c0c0c0;
    width: 80%;
    float: left;
}

.console .prompt {
    color: Yellow;
    float: left;
}

.console .container .prompt {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.console .messages {
    overflow: auto;
    height: 85%;
}

.console .messages ul.buffer {
    list-style-type: none;
    overflow: auto;
    padding: 6px;
    margin: 6px 6px 6px 0;    
}

.console .messages ul.buffer li .command {
    margin-left: 5px;
    margin-right: 5px;
}

.console .messages ul.buffer li .prompt {
    margin-top: 0;
}
