<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="loader.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var loader = $('#loader').loader();

            var token;
            $('#show').click(function () {
                token = loader.show('This is a loading test');
                var x = 10;
            });

            $('#hide').click(function () {
                loader.hide(token);
            });
        });
    </script>
</head>
<body>   
    <input id="show" type="button" name="name" value="show" />
    <input id="hide" type="button" name="name" value="hide" />
    <div id="loader">
    </div>
</body>
</html>
