<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="fileExplorer.css" rel="stylesheet" type="text/css" />
    <link href="../Shared/icons.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="../Shared/icons.js" type="text/javascript"></script>
    <script src="../Shared/utils.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.render.min.js" type="text/javascript"></script>
    <script src="../FileSystem/fileSystem.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.hotkeys-patched.js" type="text/javascript"></script>
    <script src="fileExplorer.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var fs = new FileSystem();
            var files = ['app.js', 'b.js', 'a/b.js', 'node_modules/express/foo.js', 'd/b/g.js'];

            $.get('templates.htm', function (content) {
                $('body').append(content);

                fs.create(files.map(function (path) { return { Path: path }; }));

                var templates = {
                    folder: $('#fileExplorer_folderTemplate'),
                    file: $('#fileExplorer_fileTemplate'),
                    deferredFolder: $('#fileExplorer_deferredFolderTemplate')
                };

                $('#foo').fileExplorer({
                    templates: templates,
                    fileSystem: fs
                })
                .refresh();

                $('#bar').fileExplorer({
                    templates: templates,
                    fileSystem: fs
                })
                .refresh();

            });

        });
        
    </script>
</head>
<body>
    <div id="foo">
    </div>
    <div id="bar">
    </div>
</body>
</html>
