.fileExplorer ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 5px;
    padding-left: 5px;
}

.fileExplorer li {
    list-style-type: none;
}

.fileExplorer a {
    outline: none;
    text-decoration: none;
}

.fileExplorer .selection {
    cursor: default;
    padding: 1px;
}

.fileExplorer .icon-project.selection {
    padding-left: 20px;
}

.fileExplorer .open.selection {
    padding-left: 20px;
}

.fileExplorer .selection.selected {
    background-color: #2287d9; 
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.fileExplorer .selection.selected.no-focus {
    background-color: #d7d7d7;
    color: #000;
}

.fileExplorer .folder, .fileExplorer .files {
    padding-left: 10px;
    margin-left: 10px;
}

.fileExplorer .delete {
    margin-left: 3px;
}

.fileExplorer .icon-new-folder {
    background-image: url('../../images/new-folder.png');
}

.fileExplorer .icon-new-file {
    background-image: url('../../images/addfile.png');
}

.fileExplorer .icon-project {
    background-image: url('../../images/solution.png');
}

.fileExplorer .icon-folder {
    background-image: url('../../images/folder-expanded.png');
    padding-left: 36px;
}

.fileExplorer .icon-folder.folder-collapsed {
    background-image: url('../../images/folder-collapsed.png');
    padding-left: 36px;
}
