<script id="fileExplorer_folderTemplate" type="text/x-jquery-tmpl"> 
<ul class="folder node" data-path="${$data.getPath()}">
    <li>
        <span href="#" class="icon icon-project selection folder-node">Project</span>
        <div class="folder-contents">
            <div class="folders">
                {{tmpl(getDirectories()) "#fileExplorer_deferredFolderTemplate"}}
            </div>
            <ul class="files">
                {{tmpl(getFiles()) "#fileExplorer_fileTemplate"}}
            </ul>
        </div>
    </li>
</ul>
</script>
<script id="fileExplorer_deferredFolderTemplate" type="text/x-jquery-tmpl"> 
<ul class="folder folder-collapsed node" data-path="${$data.getPath()}">
    <li>
        <span class="selection folder-node">
            <span href="#" class="icon icon-folder folder-collapsed"></span>
            <span class="folder-name">${$data.getName()}</span>
        </span>
        <div class="folder-contents" style="display:none">
            <div class="folders deferred-folders">
            </div>
            <ul class="files">
                {{tmpl(getFiles()) "#fileExplorer_fileTemplate"}}
            </ul>
        </div>
    </li>            
</ul>
</script>
<script id="fileExplorer_fileTemplate" type="text/x-jquery-tmpl"> 
<li class="file node" data-path="${$data.getPath()}">
    <label href="#" class="open icon selection file-node">${$data.getName()}</label>
</li>
</script>