<script id="fileExplorer_folderTemplate" type="text/x-jquery-tmpl"> 
    <ul class="folder" data-path="${$data.getPath()}">
        <li>
            <a href="#" class="icon icon-project">Project</a>
            <div class="folder-contents">
                <div class="folders">
                    {{tmpl(getDirectories()) "#fileExplorer_deferredFolderTemplate"}}
                </div>
                <ul class="files">
                    {{tmpl(getFiles()) "#fileExplorer_fileTemplate"}}
                </ul>
            </div>
        </li>
    </ul>
</script>

<script id="fileExplorer_deferredFolderTemplate" type="text/x-jquery-tmpl"> 
    <ul class="folder folder-collapsed" data-path="${$data.getPath()}">
        <li>
            <div class="selection">
                <a href="#" class="icon icon-folder folder-collapsed"></a>
                <span class="folder-name">${$data.getName()}</span>
            </div>
            <div class="folder-contents" style="display:none">
                <div class="folders deferred-folders">
                </div>
                <ul class="files">
                    {{tmpl(getFiles()) "#fileExplorer_fileTemplate"}}
                </ul>
            </div>
        </li>            
    </ul>
</script>

<script id="fileExplorer_fileTemplate" type="text/x-jquery-tmpl"> 
    <li class="file selection" data-path="${$data.getPath()}">
        <a href="#" class="open icon" id="${$data.getElementId()}">${$data.getName()}</a>
        <a href="#" class="delete icon-notext icon-close">&nbsp;</a>
    </li>
</script>
