/* Header/Footer */
body {
    padding-top: 40px;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    body > header {
        width: 100%;
    }

/* Nav Bar */
nav img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

/* Forms */
fieldset.no-legend legend {
    display: none;
}

form fieldset ol {
    margin: 0;
    padding: 0;
}

    form fieldset ol li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

    .validation-summary-errors ul li {
        list-style-type: none;
    }

.modal form {
    margin: 0;
}

/* General */
h1 {
    padding-bottom: 10px;
}

p em {
    font-size: 12pt;
}

#clone-url {
    cursor: pointer;
}