/* Header/Footer */
body {
    padding-top: 70px; /* make the container go all the way to the bottom of the topbar */
    padding-bottom: 70px;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    body > header {
        width: 100%;
    }

/* Nav Bar */
nav img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

/* Forms */
fieldset.no-legend legend {
    display: none;
}

form fieldset ol {
    margin: 0;
    padding: 0;
}

    form fieldset ol li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

    .validation-summary-errors ul li {
        list-style-type: none;
    }

.modal form {
    margin: 0;
}

/* General */
h1 {
    padding-bottom: 10px;
}

p em {
    font-size: 12pt;
}

#clone-url {
    cursor: pointer;
    width: 400px;
    margin-left: 5px;
}

.ellipsis {  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');  
} 

#log {
    padding-left: 5px;
    margin-left: 5px;
}

#log li {
    list-style-type: none;
    margin: 5px;
}

#log li i {
    margin-right: 5px;
}

button.plain {
    background: none;
    border: 0;
    padding: 0 0 0 0;
}

a.site-item {
    vertical-align: middle;
}


.input-group-button {
    padding: 0;
    border: 0;
}
.input-group-button .btn {
    border-radius: 0 4px 4px 0;

    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-left: none;
}
.input-group-button .btn:hover {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
}

.btn-clipboard img {
  max-width: 13px;
  max-height: 15px;
}
