html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 55px;
}

#main {
    min-height: 860px;
    height: 90%;
}

    #main > .view {
        height: 100%;
        width: 90%;
    }

#KuduExecConsole {
    height: 48%;
    width: 100%;
}

#KuduExecConsoleV2 {
    height: 45%;
    width: 100%;
}

div.spinner {
    position: absolute;
    right: 10px;
    top: 20px;
}

#fileList {
    height: 35%;
}

    #fileList > div.table-container {
        height: 85%;
        overflow-y: auto;
        width: 100%;
        position: relative;
    }

#resizeHandle {
    cursor: pointer;
    text-align: center;
}

div.show-on-hover {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #36a2ff;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.55);
    display: none;
}

div.upload-unzip-hover {
    background-color: #36a2ff;
    background-color: rgba(54, 162, 255, 0.8);
    display: block;
}

div.upload-unzip-show {
    display: block;
}

div.zip-upload-text {
    font-family: 'Lucida Console', Consolas, 'Courier New', monospace;
    font-size: large;
    position: relative;
    text-align: center;
    top: 40%;
}

div.console {
    font-family: 'Lucida Console', Consolas, 'Courier New', monospace;
    height: 100%;
    margin: auto;
    white-space: pre-wrap;
    width: 100%;
}

    div.console div.jquery-console-inner {
        background-color: black;
        color: white;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
        padding: 0.3em;
        width: 100%;
    }

    div.console div.jquery-console-focus span.jquery-console-cursor {
        background: white;
        color: black;
        animation: blink 1s steps(5, start) infinite;
        -webkit-animation: blink 1s steps(5, start) infinite;
    }
    
    @-webkit-keyframes blink {
       to {
            visibility: hidden;
        }
    }
    
    @keyframes blink {
       to {
            visibility: hidden;
        }
    }

    div.console div.jquery-console-message-error {
        color: red;
    }

    div.console div.jquery-console-message-value {
        color: white;
    }

    div.console div.jquery-console-message-type {
        color: white;
    }

    div.console span.jquery-console-prompt-pid {
        color: green;
    }

.edit-view {
    width: 100%;
    height: 100%;
}

    .edit-view .edit-bar {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .edit-view, .edit-view .edit-area {
        width: 100%;
        height: 100%;
        min-height: 800px;
        min-width: 1024px;
    }

footer {
    font-size: x-small;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

textarea {
    min-height: 800px;
}

.disabled {
    color: gray;
}

.right {
    float: right;
}