#generalModal {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
    #generalModal .title {
     min-height: 10px;
     text-align: center;
     vertical-align: middle;
     font-weight: bold;
    }

    #generalModal .content {
     text-align: justify;
    text-justify: inter-word;
    margin:15px 10px 10px 10px;
    min-height:30px;
    }


 #generalModal .b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

