@model XDocument

@using System.Xml
@using System.Xml.Linq

@{
    ViewBag.Title = "Trace";
}

@section head {
    <link href="@Url.Content("~/Styles/trace.css")" rel="stylesheet" type="text/css" />
}

<p class="alert alert-info">Upload a trace.xml file for analysis</p>
<form action="@Url.Action("trace")" method="post" enctype="multipart/form-data" class="well">
  <fieldset>
    <div class="control-group">
      <div class="controls">        
        <input type="file" name="traceFile" />
      </div>
    </div>
    <p>
        <input type="submit" value="Analyze" class="btn-primary" />
    </p>
  </fieldset>
</form>

@if (Model != null)
{ 
    @Html.Partial("_TraceView", Model)
}