@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Site Extensions";
}

@section PageHead {
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="../Content/Styles/SiteExtensions.css" rel="stylesheet" />
}

<div class="container">
    <div class="row navbar">
        <div class="col-xs-6 col-md-4" id="tabHeadings">
            <ul class="nav nav-tabs" id="navTabs">
                <li class="active"><a href="#installed" data-toggle="tab">Installed</a></li>
                <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-5" id="searchBox">
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchText" data-bind="value: searchTerms" placeholder="Site Extension" />
                </div>
                <button class="btn btn-default" id="searchButton">
                    <span>Search</span>
                </button>
                <a class="btn btn-default" id="clearButton">
                    <span>Clear</span>
                </a>
            </form>
        </div>
        <div class="col-xs-6 col-md-3">
            <form class="navbar-form">
                <button class="btn btn-default button-top-right" id="restartButton" data-toggle="popover" data-placement="auto right"
                        data-animation="true" data-html="true" data-trigger="manual">
                    <span>Restart Site</span>
                </button>
            </form>
        </div>
    </div>

    <div class="alert alert-success alert-dismissable" id="successNotification" aria-hidden="true">
        <button type="button" class="close" id="successNotificationClose" aria-hidden="true">&times;</button>
        <span id="successNotificationText"></span>
    </div>

    <div class="alert alert-warning alert-dismissable" id="errorNotification" aria-hidden="true">
        <button type="button" class="close" id="errorNotificationClose" aria-hidden="true">&times;</button>
        <span id="errorNotificationText"></span>
    </div>

    <div class="row">
        <div class="tab-content">
            <div class="tab-pane active" id="installed">
                <p data-bind="visible: loadingInstalled() && display().length === 0 && searchTerms().length === 0">Loading...</p>
                <p data-bind="visible: !loadingInstalled() && display().length === 0 && searchTerms().length === 0">Site extensions can be installed from the Gallery.</p>
            </div>
            <div class="tab-pane" id="gallery">
                <p data-bind="visible: loadingGallery() && display().length === 0 && searchTerms().length === 0">Loading...</p>
            </div>
        </div>

        <div class="row" id="tiles" data-bind="foreach: display">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="#">
                                <img data-bind="attr: { src: IconUrl }, click: $parent.details"
                                     alt="Icon" class="tile-icon" data-toggle="modal" data-target="#detailsModal" />
                            </a>
                        </div>
                        <div class="col-xs-9">
                            <button class="btn btn-info button-bottom-left installButton" role="button" data-bind="visible: LocalPath == null"
                                    data-toggle="tooltip" data-placement="top" title="Install">
                                <i class="fa fa-plus"></i>
                            </button>
                            <a class="btn btn-info button-bottom-left" role="button" data-bind="visible: LocalPath, attr: {href : '/' + Id + '/', target : '_blank'}"
                               data-toggle="tooltip" data-placement="top" title="Launch">
                                <i class="fa fa-play"></i>
                            </a>
                            <button class="btn btn-info button-bottom-left" role="button"
                                    data-toggle="modal" data-target="#detailsModal" data-bind="click: $parent.details"
                                    data-toggle="tooltip" data-placement="top" title="Details">
                                <i class="fa fa-info-circle"></i>
                            </button>
                            <button class="btn btn-info button-bottom-left updateButton" role="button" data-bind="visible: LocalIsLatestVersion === false"
                                    data-toggle="tooltip" data-placement="top" title="Update">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                            <button class="btn btn-info button-bottom-right removeButton" role="button" data-bind="visible: LocalPath"
                                    data-toggle="tooltip" data-placement="top" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <h4 data-bind="text: Title"></h4>
                    <div data-bind="visible: Version">
                        <strong>Version </strong>
                        <span class="text-1line" data-bind="text: Version"></span>
                    </div>
                    <div data-bind="visible: Authors">
                        <strong>By </strong>
                        <span class="text-1line" data-bind="text: Authors"></span>
                    </div>
                    <div data-bind="visible: Summary">
                        <p class="text-4line" data-bind="text: Summary"></p>
                    </div>
                    <div data-bind="visible: Summary === null && Description">
                        <p class="text-4line" data-bind="text: Description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-bind="with: detailedSiteExtension">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-2">
                        <img data-bind="attr: { src: IconUrl }" alt="Icon" class="modal-icon" />
                    </div>
                    <div class="col-xs-10">
                        <h3 class="modal-title" data-bind="text: Title"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-bind="with: detailedSiteExtension">
                <strong>ID</strong>
                <p data-bind="text: Id"></p>
                <strong>Version</strong>
                <p data-bind="text: Version"></p>
                <div id="detailsDownloadCount" data-bind="visible: DownloadCount">
                    <strong>Download Count</strong>
                    <p data-bind="text: DownloadCount"></p>
                </div>
                <div id="detailsAuthors" data-bind="visible: Authors">
                    <strong data-bind="visible: Authors.length === 1">Author</strong>
                    <strong data-bind="visible: Authors.length > 1">Authors</strong>
                    <p data-bind="text: Authors"></p>
                </div>
                <div id="detailsLicenseUrl" data-bind="visible: LicenseUrl">
                    <strong>License</strong>
                    <p><a data-bind="text: LicenseUrl, attr: {href: LicenseUrl, target: '_blank'}"></a></p>
                </div>
                <div id="detailsPublishedDateTime" data-bind="visible: InstalledDateTime === null && PublishedDateTime">
                    <strong>Published Time</strong>
                    <p data-bind="text: PublishedDateTime"></p>
                </div>
                <div id="detailsLocalPath" data-bind="visible: LocalPath">
                    <strong>Installed Path</strong>
                    <p data-bind="text: LocalPath"></p>
                </div>
                <div id="detailsInstalledDateTime" data-bind="visible: InstalledDateTime">
                    <strong>Installed Time</strong>
                    <p data-bind="text: InstalledDateTime"></p>
                </div>
                <div id="detailsSummary" data-bind="visible: Summary">
                    <strong>Summary</strong>
                    <p data-bind="text: Summary"></p>
                </div>
                <div id="detailsDescription" data-bind="visible: Description">
                    <strong>Description</strong>
                    <p data-bind="text: Description"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="../Content/Scripts/SiteExtensions.js"></script>
