#skyde {
    font-family: Trebuchet MS;
    font-size: 13px;
    min-height: 450px;
    color: #000;
}

#code-surface:after {
    clear: both;
    content: "";
}

#skyde a {
    text-decoration: none;
    color: Blue;
    outline: none;
}

#skyde a:visited {
    color: Blue;
}

#skyde a img {
    border: 0px;
}

#skyde #file-browser {
    margin-left: 5px;
    padding-left: 5px;
}

#skyde #file-browser li {
    list-style-type: none;
}

#skyde #file-browser ul {
    list-style-type: none;
    margin-bottom: 0;
}

#skyde .folder {
    padding-left: 10px;
    margin-left: 10px;
}

#skyde {
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#skyde .files {
    padding-left: 10px;
    margin-left: 10px;
}

#skyde .new-file {
    margin-left: 3px;
}

#skyde #pending-changes {
    margin-left: 5px;
    padding-left: 5px;
}

#skyde .scm-change {
    margin-right: 5px;
    font-weight: bold;
}

#skyde #file-browser .delete {
    margin-left: 3px;
}

#skyde #file-browser .delete-folder {
    margin-left: 0px;
}

#skyde #pending-changes li {
    list-style: none;
}

#skyde #pending-changes .delete {
    margin-left: 5px;
}

#skyde .CodeMirror {
    border: 1px solid #ccc;
    width: 100%;
    font-family: 'Consolas' , 'Monaco' , monospace;
    font-size: 10pt;
    line-height: 12pt;
}

#skyde .icon-history {
    background-image: url('../images/book_previous.png');
}

#skyde .icon-cs {
    background-image: url('../images/cs.png');
}

#skyde .icon-cs-add {
    background-image: url('../images/cs-add.png');
}

#skyde .icon-cs-edit {
    background-image: url('../images/cs-edit.png');
}

#skyde .icon-cshtml {
    background-image: url('../images/cshtml.png');
}

#skyde .icon-working-dir {
    background-image: url('../images/folder_table.png');
}

#skyde .icon-cshtml-add {
    background-image: url('../images/cshtml-add.png');
}

#skyde .icon-cshtml-edit {
    background-image: url('../images/cshtml-edit.png');
}

#skyde .icon-aspx {
    background-image: url('../images/aspx.png');
}

#skyde .icon-aspx-add {
    background-image: url('../images/aspx-add.png');
}

#skyde .icon-aspx-edit {
    background-image: url('../images/aspx-edit.png');
}

#skyde .icon-ascx {
    background-image: url('../images/ascx.png');
}

#skyde .icon-ascx-add {
    background-image: url('../images/ascx-add.png');
}

#skyde .icon-ascx-edit {
    background-image: url('../images/ascx-edit.png');
}

#skyde .icon-config {
    background-image: url('../images/config.png');
}

#skyde .icon-config-add {
    background-image: url('../images/config-add.png');
}

#skyde .icon-config-edit {
    background-image: url('../images/config-edit.png');
}

#skyde .icon-tt {
    background-image: url('../images/tt.png');
}

#skyde .icon-css {
    background-image: url('../images/css.png');
}

#skyde .icon-css-add {
    background-image: url('../images/css-add.png');
}

#skyde .icon-css-edit {
    background-image: url('../images/css-edit.png');
}

#skyde .icon-js {
    background-image: url('../images/js.png');
}

#skyde .icon-js-add {
    background-image: url('../images/js-add.png');
}

#skyde .icon-js-edit {
    background-image: url('../images/js-edit.png');
}

#skyde .icon-dll {
    background-image: url('../images/dll.png');
}

#skyde .icon-php {
    background-image: url('../images/php.png');
}

#skyde .icon-php-add {
    background-image: url('../images/php-add.png');
}

#skyde .icon-php-edit {
    background-image: url('../images/php-edit.png');
}

#skyde .icon-master {
    background-image: url('../images/master.png');
}

#skyde .icon-default {
    background-image: url('../images/page_white.png');
}

#skyde .icon-default-add {
    background-image: url('../images/page_white_add.png');
}

#skyde .icon-default-edit {
    background-image: url('../images/page_white_edit.png');
}

.icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    line-height: 20px;
}

 .icon-notext {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 10px;
    line-height: 20px;
}

#skyde .icon-project {
    background-image: url('../images/solution.png');
    float: left;
}

#skyde .icon-loading {
    background-image: url('../images/loading.gif');
}

.icon-prompt-loading {
    background-image: url('../images/prompt-loading.gif');
}

#skyde .icon-connecting {
    background-image: url('../images/connecting.gif');
}

#skyde .icon-connect {
    background-image: url('../images/connect.png');
}

#skyde .icon-disconnect {
    background-image: url('../images/disconnect.png');
}

#skyde .icon-save {
    background-image: url('../images/saveall.png');
}

#skyde .icon-close {
    background-image: url('../images/close.png');
}

#skyde .icon-refresh {
    background-image: url('../images/refresh.png');
}

#skyde .icon-new-file {
    background-image: url('../images/addfile.png');
}

#skyde .icon-new-folder {
    background-image: url('../images/new-folder.png');
}

#skyde .icon-build {
    background-image: url('../images/build.png');
}

#skyde .icon-menu {
    background-image: url('../images/application_side_list.png');
}

#skyde .icon-folder {
    background-image: url('../images/folder-expanded.png');
    padding-left: 36px;
    float: left;
}

#skyde .icon-folder.folder-collapsed {
    background-image: url('../images/folder-collapsed.png');
    padding-left: 36px;
}

#skyde #status {    
    display: none;
}

#skyde .outer-status {
    margin-top: 7px;
    height: 30px;
}

#skyde #text-editor {
    float: left;
    width: 70%;
    margin-right: 1%;
    height: 100%;
}

#skyde #file-browser {
    float: left;
    width: 25%;
    border: 1px solid #ccc;
    overflow: auto;
    white-space: nowrap;
    height: 100%;
}

#skyde #active-view {
    display: inline;
    float: right;
    font-family: Trebuchet MS;
    font-size: 13px;
    margin-right: 3.2%;
}

#skyde .dev-mode {
    display: none;
}

#skyde #commit {
    display: none;
}

#skyde #file-browser .menu {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 1px;
}

#skyde #file-browser .menu-launcher {
    margin-left: 5px;
}

#skyde .clear {
    clear: both;
}

#skyde #file-browser .menu li {
    float: left;
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#skyde #file-browser .menu li a {
    display: block;
    text-decoration: none;
    border-right: 1px solid white;
    padding-left: 20px;
    white-space: nowrap;
    background-color: #fff;
}

#skyde #file-browser .menu li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
}

#skyde #file-browser .menu li ul li {
    float: none;
    display: inline;
}

#skyde #file-browser .menu li ul li a {
    width: auto;
    padding: 3px 0px 3px 25px;
    min-width: 100px;
    background-color: #fff;
}


#skyde ul#tabs {
    width: 70%;
    margin: 1% 0 0;
    padding: 0;
    height: 22px;
}

#skyde ul#tabs li {
    display: inline;
    list-style: none outside none;
    padding: 4px 8px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

#skyde ul#toolbar {
    padding-left: 0;
    margin-left: 0;
    display: inline;
}

#skyde ul#toolbar li {
    display: inline;
    margin-right: 10px;
}

#skyde ul#tabs a {
    outline: none;
    color: #000;
}

#skyde ul#tabs a.delete {
    visibility: hidden;
}

#skyde ul#tabs li .dirty {
    margin-left: 1px;
}

#skyde ul#tabs li:hover a.delete, #skyde ul#tabs li.active a.delete {
    visibility: visible;
}

#skyde ul#tabs li.active, #skyde ul#tabs li:hover {
    border: 1px solid #ccc;
    background: #f5f5ee;
    border-bottom: 1px solid #f5f5ee;
}

#skyde ul#tabs li:hover {
    border-color: #d6d6d6;
    background: #fefefe;
}

#skyde ul#tabs li.active:hover {
    border: 1px solid #ccc;
    background: #f5f5ee;
    border-bottom: 1px solid #fff;
}

#console .output {
    height: 80%;
    display: block;
    color: #c0c0c0;
    border: 1px solid #666;
    padding: 5px 15px 5px 25px;
    background: #202020 3px 5px no-repeat;
    line-height: 1.462em; /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

#console .icon-collapse {
    background-image: url('../images/collapse.png');
}

#console .icon-expand {
    background-image: url('../images/expand.png');
}

#console .icon-terminal {
    background-image: url('../images/terminal.png');
}

#console {
    height: 350px;
    width: 97%;    
    font: 11pt 'Consolas' , 'Monaco' , monospace;
    position:fixed;
    clear:both;
    display:block;
    left: 0px;
    bottom: 0px;
    position:fixed;
    z-index:999;
    width:100%;
    padding:0;
    margin:0;
}

#console.collapsed {    
    height: 29px;
}

#console .header {
    height: 15px;
    padding: 7px;
    border: 1px solid #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ebebeb');
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ebebeb));
    background: -moz-linear-gradient(top,  #f5f5f5,  #ebebeb);
}

#console .header a {
    text-decoration: none;
}

#console .header span {
    float: left;
    background-position: center top;
}

#console.collapsed .output {
    display: none;    
}

#console .output {
    height: 100%;
}

#console .output input[type="text"] {
    border: 0;
    outline:none;
    background-color: #202020;
    color: #c0c0c0;
    width: 80%;
    font: 11pt 'Consolas' , 'Monaco' , monospace;
    float: left;
}

#console .output .buffer {
    padding: 6px;
    margin: 6px;
    list-style-type: none;
    overflow: auto;
}

#console .output .buffer li .command {
    margin-left: 5px;
    margin-right: 5px;
}

#console .output .buffer li .prompt {
    margin-top: 0;
}

#console .output .messages {
    overflow: auto;
    height: 270px;
}

#console .prompt {
    color: Yellow;
    float: left;
}

#console #new-command { 
    height: 30px;
    margin-left: 12px;
}

#console #new-command .prompt { 
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

#console #new-command input {
    padding: 5px;
    margin: 0;
}

#console-ghost {
    width:100%;
    display:block;
}

#show-console {
    background-position: center top;
}