.step {
    padding: 5px;
    list-style: none;
}

.step .icon {
    margin-right: 5px;
}

.title {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.error {
    
}

.process {
    
}

.response {
    
}

.req-method {
    font-weight: bold;
}

.err-stream {
    margin-bottom: 5px;
}

.out-stream {
    margin-bottom: 5px;
}

.toggle {
    margin-left: 30px;
    margin-bottom: 10px;
}

.analysis > ul {
    padding-left: 0;
    margin-left: 0;
}

.attributes-link {
    color: White;
}

.attributes-link:hover {
    color: White;
}